<section>

  <p class="text-[var(--primary-color)] text-lg font-bold main-text relative mb-5">
    {{'categories.ourCategories' | translate}}
  </p>


  <div class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-4 gap-6">
    @for (cat of categories; track cat._id){

      <div class="bg-white p-4 rounded-xl shadow-md flex flex-col items-center hover:scale-105 transition-transform ">
        <img [src]="cat.image" [alt]="cat.name" class="w-full h-[250px] object-contain" />
        <p class="text-center tracking-wide text-lg font-bold py-4 text-[var(--primary-color)] ">{{cat.name}}</p>
      </div>
    
    }
  </div>



</section>