<section class="w-3/4 mx-auto flex flex-col items-center justify-center mt-8">
    <h1 class="text-3xl text-[var(--primary-color)] font-bold tracking-wide text-center capitalize mb-10 ">
        {{'orders.title' | translate}}
    </h1>

  <div class="md:w-[700px] sm:w-[350px]  ">
  @for (order of orders; track order.id) {
    <div class="mb-8 bg-white shadow-lg rounded-lg p-6 border border-gray-200">
        <h3 class="text-xl font-semibold text-gray-800">🛒 {{'orders.orderId' | translate}}: {{ order.id }} </h3>
        <p class="text-gray-600">📅 {{'orders.date' | translate}}: {{ order.createdAt | date: 'medium' }} </p>
        <p class="text-gray-800 font-bold">💰 {{'orders.totalPrice' | translate}}: <span class="text-[var(--primary-color)]">{{ order.totalOrderPrice | currency: 'GBP' }}</span></p>
        <p class="text-gray-700">💳 {{'orders.paymentMethod' | translate}}: <span class="font-medium">{{ order.paymentMethodType }}</span></p>
        <p class="mt-2">
            ⚡ {{'orders.paymentStatus' | translate}}:
            <span class="px-2 py-1 rounded font-bold" class="{{ order.isPaid ? 'text-green-600' : 'text-red-600' }}">
                {{ order.isPaid ? 'Paid' : 'Not Paid' }}
            </span>
        </p>
    
        <div class="mt-4 bg-gray-100 p-4 rounded">
            <h4 class="font-semibold text-gray-700">👤 {{"orders.customerInformation" | translate}}</h4>
            <p class="text-gray-600">👨‍💼 {{"orders.nameLabel" | translate}}: {{ order.user.name }}</p>
            <p class="text-gray-600">📧 {{"orders.emailLabel" | translate}}: {{ order.user.email }}</p>
            <p class="text-gray-600">📞 {{"orders.phoneLabel" | translate}}: {{ order.user.phone }}</p>
        </div>
    
        <div class="mt-4 bg-blue-50 p-4 rounded">
            <h4 class="font-semibold text-blue-700">📍 {{"orders.shippingAddress" | translate}}</h4>
            <p class="text-blue-600">🏠 {{ order.shippingAddress.details }}, {{ order.shippingAddress.city }}</p>
            <p class="text-blue-600">📞 {{ order.shippingAddress.phone }}</p>
        </div>
      
  
  
      <h4 class="mt-4 font-semibold text-gray-800">🛍️ {{"orders.orderedProducts" | translate}}</h4>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
          @for (item of order.cartItems; track $index) {
              <div class="bg-gray-50 border rounded-lg p-3 flex items-center space-x-3">
                  <img [src]="item.product.imageCover" alt="Product" class="w-16 h-16 object-cover rounded">
                  <div>
                      <p class="text-gray-800 font-medium">{{item.product.title}}</p>
                      <p class="text-gray-600">{{item.price | currency:'GBP' }}</p>
                  </div>
              </div>
          }
          
  
          
      </div>
    </div>

  }
  </div>
  



    
  

</section>
