<section class="w-1/2 mx-auto flex flex-col justify-center space-y-8">
  <h1 class="text-3xl text-[var(--primary-color)] font-bold tracking-wide text-center capitalize ">
    {{'checkout.title' | translate}}
  </h1>

<form [formGroup]="checkOutForm" >
  <div class="">
    <label for="phone" class="block mb-1 text-sm font-medium text-gray-900">
      {{'checkout.phone' | translate}}
    </label>
    <input formControlName="phone" type="tel" id="phone"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
@let phoneControl = checkOutForm.get('phone');
      @if (phoneControl?.errors && phoneControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (phoneControl?.getError('required')) {
              <li>
                {{'checkout.phoneRequired' | translate}}
              </li>
            }
            @else if (phoneControl?.getError('pattern')) {
              <li>
                {{'checkout.phoneInvalid' | translate}}
              </li>
              <li>
                {{'checkout.phoneLength' | translate}}
              </li>
            }
          </ul>
        </div>
      </div>
      }
  </div>

  <div class="">
    <label for="city" class="block mb-1 text-sm font-medium text-gray-900">
      {{'checkout.city' | translate}}
    </label>
    <input formControlName="city" type="name" id="city"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
@let cityControl = checkOutForm.get('city');
      @if (cityControl?.errors && cityControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (cityControl?.getError('required')) {
              <li>
                {{'checkout.cityRequired' | translate}}
              </li>
            }
          </ul>
        </div>
      </div>
      }
  </div>


  <div class="">
    <label for="details" class="block mb-1 text-sm font-medium text-gray-900">
      {{'checkout.details' | translate}} 
    </label>
    <textarea formControlName ="details"  id="details"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"></textarea>


      @let detailsControl = checkOutForm.get('details');

      @if (detailsControl?.errors && detailsControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (detailsControl?.getError('required')) {
              <li>
                {{'checkout.detailsRequired' | translate}}
              </li>
            }
         
          </ul>
        </div>
      </div>
      }

  </div>

<div class="flex justify-center space-x-4 ">
  <div class="flex justify-center mt-5">
    <button
    (click)="submitPaymentOnline()"
    [disabled]="checkOutForm.invalid" type="submit"
      class="capitalize  text-white text-lg bg-[var(--primary-color)] hover:bg-[var(--hover-primary-color)] transition-colors duration-300 ease-in-out rounded-lg px-8 py-2.5">
      {{'checkout.card' | translate}}
     
    </button>
  </div>

  <div
  (click)="submitPaymentCash()"
   class="flex justify-center mt-5">
    <button  [disabled]="checkOutForm.invalid" type="submit"
      class="capitalize  text-white text-lg bg-[var(--primary-color)] hover:bg-[var(--hover-primary-color)] transition-colors duration-300 ease-in-out rounded-lg px-8 py-2.5">
      {{'checkout.cash' | translate}}

    </button>
  </div>
</div>




  

</form>
</section>