<section class="w-1/2 mx-auto flex flex-col justify-center space-y-8">
  <h1 class="text-3xl text-[var(--primary-color)] font-bold tracking-wide text-center capitalize ">
    {{'forgetPassword.title'| translate}}
  </h1>

@if (step == 1) {
  <form [formGroup]="verfiyEmail" (ngSubmit)="emailVerfiySubmit()" >
    <label for="email" class="block mb-1 text-sm font-medium text-gray-900">
      {{'forgetPassword.email'| translate}}
    </label>
    <input formControlName="email"  type="email" id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
      
      @let emailControl = verfiyEmail.get('email');
      @if (emailControl?.errors && emailControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>
              {{'forgetPassword.emailRequired'| translate}}
            </li>
            }
            @else if (emailControl?.getError('email')) {
            <li>
              {{'forgetPassword.emailInvalid'| translate}}
            </li>
            }
          </ul>
        </div>
      </div>
      }
      
      
      
      <div class="flex justify-center mt-5">
        <button [disabled]="verfiyEmail.invalid" type="submit"
          class="capitalize  text-white text-lg bg-[var(--primary-color)] hover:bg-[var(--hover-primary-color)] transition-colors duration-300 ease-in-out rounded-lg px-8 py-2.5">
          {{'forgetPassword.confirm'| translate}}
          
    
          <!-- <span><i class="fas fa-spin fa-spinner"></i></span> -->
          
        </button>
      </div>
    </form>
}
@else if (step == 2) {
  <form  [formGroup]="verfiyCode"  (ngSubmit)="verfiyCodeSubmit()">
    <label for="code" class="block mb-1 text-sm font-medium text-gray-900">
      {{'forgetPassword.code'| translate}}
    </label>
    <input formControlName="resetCode"  type="text" id="code"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
      
      @let codeControl = verfiyCode.get('resetCode');
      @if (codeControl?.errors && codeControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (codeControl?.getError('required')) {
            <li>
              {{'forgetPassword.codeRequired'| translate}}
            </li>
            }
            @else if (codeControl?.getError('pattern')) {
            <li>
              {{'forgetPassword.codeInvalid'| translate}}
            </li>
            }
          </ul>
        </div>
      </div>
      }
      
      
      <div class="flex justify-center mt-5">
        <button  [disabled]="verfiyCode.invalid"  type="submit"
          class="capitalize  text-white text-lg bg-[var(--primary-color)] hover:bg-[var(--hover-primary-color)] transition-colors duration-300 ease-in-out rounded-lg px-8 py-2.5">
          {{'forgetPassword.verify'| translate}}
          
    
          <!-- <span><i class="fas fa-spin fa-spinner"></i></span> -->
          
        </button>
      </div>
    </form>
}
@else if (step == 3) {
  <form [formGroup]="resetPassword"  (ngSubmit)="resetSubmit()" >
    <label for="email" class="block mb-1 text-sm font-medium text-gray-900">
      {{'forgetPassword.email'| translate}}
    </label>
    <input formControlName="email"  type="email" id="email"
      class="bg-gray-50 mb-3 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
  
      @let resetEmailControl = resetPassword.get('email');
      @if (resetEmailControl?.errors && resetEmailControl?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetEmailControl?.getError('required')) {
            <li>
              {{'forgetPassword.emailRequired'| translate}}
            </li>
            }
            @else if (resetEmailControl?.getError('email')) {
            <li>
              {{'forgetPassword.emailInvalid'| translate}}
            </li>
            }
          </ul>
        </div>
      </div>
      }

      <label for="password" class="block mb-1 text-sm font-medium text-gray-900">
        {{'forgetPassword.newPassword'| translate}}
      </label>
      <input  formControlName="newPassword" type="password" id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
        
        @let newPasswordControl = resetPassword.get('newPassword');
        @if (newPasswordControl?.errors && newPasswordControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (newPasswordControl?.getError('required')) {
              <li>
                {{'forgetPassword.passwordRequired'| translate}}
              </li>
              }
              @else if (newPasswordControl?.getError('pattern')) {
                <li>
                  {{'forgetPassword.passwordUppercase'| translate}}
                </li>
                <li>
                  {{'forgetPassword.passwordLength'| translate}}
                </li>           
                 }
            </ul>
          </div>
        </div>
        }
        
        
        
        
        
        <div class="flex justify-center mt-5">
          <button [disabled]="resetPassword.invalid"  type="submit"
            class="capitalize  text-white text-lg bg-[var(--primary-color)] hover:bg-[var(--hover-primary-color)] transition-colors duration-300 ease-in-out rounded-lg px-8 py-2.5">
            {{'forgetPassword.verify'| translate}}
            
      
            <!-- <span><i class="fas fa-spin fa-spinner"></i></span> -->
            
          </button>
        </div>
      </form>
}


</section>